<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>That's a bingo!</title>
</head>
<body>
<div class="container">
	<h1>That's a bingo!</h1>
	<div ng-controller="mainController" class="row">
		<table>
			<tr>
				<td ng-repeat="i in [1, 2, 3, 4, 5]">
					<div class="square">{{entries[i]}}</div>
				<td>
			</tr>
			<tr>
				<td ng-repeat="i in [6, 7, 8, 9, 10]">
					<div class="square">{{entries[i]}}</div>
				<td>
			</tr>
			<tr>
				<td ng-repeat="i in [11, 12, 13, 14, 15]">
					<div class="square">{{entries[i]}}</div>
				<td>
			</tr>
			<tr>
				<td ng-repeat="i in [16, 17, 18, 19, 20]">
					<div class="square">{{entries[i]}}</div>
				<td>
			</tr>
			<tr>
				<td ng-repeat="i in [21, 22, 23, 24, 25]">
					<div class="square">{{entries[i]}}</div>
				<td>
			</tr>

		</table>

		<br>
		<div class="row">
			<div class="col-md-4"><input type="text" ng-model="bingoInput" class="form-control"></div>
			<button class="btn btn-primary" ng-click="addEntry(bingoInput)">Add</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="src/app/app.js"></script>
<script type="text/javascript" src="src/app/generator/generator.js"></script>
<script type="text/javascript" src="src/directives/square.js"></script>
</body>
</html>
