body {
    background-color: #ECF0F1;
    color: #E9E9E9;
    font-size: 16px;
    }

h1 {
    color: #000; 
    }

table {
    margin-left: auto ;
    margin-right: auto ;
    }

.square{
	height: 120px;
    width: 120px;
    border-radius: 0px;
    border: 1px solid #ECF0F1;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    word-break: break-word;
    background-color: #1fcecb;
}

.square:hover{
    background-color: #18a9a7;
    font-weight: bold;
    }

.selected-square{
	height: 120px;
    width: 120px;
    border-radius: 0px;
    border: 1px solid #ECF0F1;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    background-color: #E74C3C;
}

.bingo-header {
    font-size: 24px;
    text-align: center;
    background-color: #1fcecb;
    padding-top:20px; 
    padding-bottom:40px;
    padding-left:15px;
    padding-right:15px;
    position: relative;
    margin-bottom: 40px;
    line-height: 0.6;

}

.bingo-header h1{
    color: #eceabe;
    text-transform: uppercase;
    font-size: 4.5em;
    line-height: 0.6;
    }

    .bingo-header h2{
    color: #E9E9E9;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 0.6;
    }

.bingo-row { 
    margin-left: auto;
    margin-right: auto; }

.small-text {
    font-size: 12px;
}
