body {
    background-color: #ECF0F1;
    color: #E9E9E9;
    font-size: 16px;
    }

h1 {
    color: #000;
    }

.square{
	height: 120px;
    width: 120px;
    border-radius: 0px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    word-break: break-word;
    background-color: #2C3E50;
}

.selected-square{
	height: 120px;
    width: 120px;
    border-radius: 0px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    background-color: #E74C3C;
}

.bingo-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: center;
    background-color: #1fcecb;
    padding: 30px 15px;
    position: relative;
    margin-bottom: 40px;

}

.bingo-header h1 {
    color: #eceabe;
    text-transform: uppercase;
    }